[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
moviepy = "==2.0.0.dev2"
pymysql = "*"
redis = "*"
pysmb = "*"
python-dotenv = "*"
python-logstash-async = "*"
python-json-logger = "*"
requests = "*"
mojimoji = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "=<3.9"

[pipenv]
allow_prereleases = true
